<aside class="social">
  {%- if site.email -%}
    <a class="email" href="mailto:{{ site.author }}<{{ site.email }}>"  title="Send an email">
      {% include icons/email.svg %}
    </a>
  {%- endif -%}

  {%- if site.github -%}
    <a class="github" href="{{ site.github.owner_url }}" title="Visit on GitHub">
      {% include icons/github.svg %}
    </a>
  {%- endif -%}

  {%- if site.linkedin -%}
    <a class="linkedin" href="https://linkedin.com/in/{{ site.linkedin }}" title="Visit on LinkedIn">
      {% include icons/linkedin.svg %}
    </a>
  {%- endif -%}
</aside>