#career {
  .container {
    display: block;

    .career-text {
      margin: 0 auto;
      text-align: center;
    }

    .career-list {
      .career-item {
        padding: 3em 0;

        &:first-child {
          padding-top: 0em;
        }

        &:nth-child(2n) {
          .career-image {
            -webkit-transform: rotate(2.5deg);
            transform: rotate(deg);
          }
        }

        &:last-child {
          padding-bottom: 0;
        }

        .career-image {
          -webkit-transform: rotate(-2.5deg);
          margin: 0 auto;
          transform: rotate(-2.5deg);
          width: 75%;

          @media (min-width: 25em) {
            width: 60%;
          }
        }

        .career-details {
          padding-top: 1em;

          .address {
            font-weight: 700;
          }

          .price {
            font-style: italic;
          }
        }

        @media (min-width: 35em) {
          -webkit-box-align: center;
          -webkit-box-orientation: vertical;
          align-items: center;
          display: -webkit-box;
          display: flex;
          padding: 1.5em 0;

          &:nth-child(2n) {
            -webkit-box-direction: reverse;
            flex-direction: row-reverse;

            .career-details {
              padding-right: 2em;
            }
          }

          .career-image {
            -webkit-box-flex: 1;
            flex: 1 2 38.2%;
          }

          .career-details {
            -webkit-box-flex: 2;
            box-sizing: border-box;
            flex: 2 1 61.8%;
            padding-left: 2em;
            padding-top: 0;
          }
        }
      }
    }
  }
}
